*{
    margin:0;
    padding:0;
    font-family:'Montserrat';
}
.main{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.graph--container{
    margin: 0 auto;
    text-align: center;
}

.chart{
    position: relative;
}
  
#title{
    font-size:33px;
    margin-bottom: 20px;
}
  
.overlay{
    position:absolute;
    background-color:white;
}
  
#tooltip{
    position:absolute;
    width:160px;
    height:50px;
    top:280px;
    line-height:1.2;
    font-size:18px;
    transform:translateX(60px);
    padding:5px;
    background-color:rgb(119, 175, 212);
    align-items:center;
    justify-content:center;
    display:flex;
    box-shadow:0 0 10px 1px #333333;
}